<launch>
  <group ns="novatel">
    <!-- Default IP -->
    <rosparam>
      ip: 192.168.1.18
      include_raw: false
      control: false
      configuration:
        imu_connect: { port: com2, type: imu_imar_fsas }
        log_request: { inspvaxb: 0.1, corrimudatab: 0.1, inscovb: 0.1, bestposb: 0.1, bestxyzb: 0.1 }
        command: { setinitattitude: 0 0 0 3 3 10 }
      rate: 200 <!-- data rate of the IMU impacts some logs -->
    </rosparam>
    <node name="novatelcentral" pkg="novatelcentral" type="bridge.py" />
    <node name="novatel_publisher" pkg="novatel_publisher" type="publisher.py" />
  </group>
</launch>
